<h1>Scrabble</h1>

<form action="/results" method="post">
  <label for="word">Enter your word</label>
  <input id="word" name="word" type="text">
  <button type="submit">Submit</button>
</form>

<h3>Results: @Model</h3>

<form action="/new" method="post">
  <button type="submit">New Word</button>
</form>
